@import 'tailwindcss';

/*
    @theme {
        --color-page-bg: var(--color-bg);
        --color-page-text: var(--color-text);
        --color-page-border: var(--color-border);
    }

    body {
        background-color: var(--color-bg);
        color: var(--color-text);
    }
*/
